
@{
    ViewBag.Title = "Index";
}
<div>
    <a href="/">Home</a>
    <a href="/Company/Service">Service</a>
    <a href="/Company/Teams">Teams and Member</a>
    <a href="/Company/Contact">Contact</a>

</div>
<h2>Welcome @ViewBag.name</h2>
<p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>

