
@{
    ViewBag.Title = "Teams";
}

<div>
    <a href="/">Home</a>
    <a href="/Company/Service">Service</a>
    <a href="/Company/Teams">Teams and Member</a>
    <a href="/Company/Contact">Contact</a>

</div>

<h1>Teams and Members:</h1>

@foreach (var team in Model)
{
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Team: @team.Name</h2>
        </div>
        <div class="card-body">
            <h5 class="card-subtitle mb-3">Service: @team.ServiceName</h5>
            <ul class="list-group">
                @foreach (var member in team.Members)
                {
                    <li class="list-group-item">@member.Name (ID: @member.Id)</li>
                }
            </ul>
        </div>
    </div>
    <br />
}
